.buttons {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    
    div {
        display: inline-block;
        
        &:first-of-type {
            margin-right: 2rem;
        }

        a {
            display: flex;
            align-items: center;
            border: 0.1rem solid $secondary;
            border-radius: 5rem;
            text-decoration: none;
            color: $primary;
            text-transform: uppercase;
            padding: 0.4rem 1rem;
            font-family: SfBold;
            font-size: 0.8rem;

            figure {
                width: 2rem;
                height: 2rem;
                padding-right: 1.2rem;
            }
        }
    }
}