.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    
    div {
        display: inline-block;

        a {
            display: flex;
            align-items: center;
            border: 3px solid rgb(190,190,190);
            border-radius: 50px;
            text-decoration: none;
            color: rgb(70,70,70);
            text-transform: uppercase;
            padding: 6px 8px;

            figure {
                width: 20px;
                height: 20px;
                padding-right: 10px;
            }
        }
    }
}