.buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
    
    div {
        display: inline-block;
        
        &:first-of-type {
            margin-right: 20px;
        }

        a {
            display: flex;
            align-items: center;
            border: 1px solid $secondary;
            border-radius: 50px;
            text-decoration: none;
            color: $primary;
            text-transform: uppercase;
            padding: 8px 14px;
            font-family: SfBold;
            font-size: 0.8rem;

            figure {
                width: 20px;
                height: 20px;
                padding-right: 12px;
            }
        }
    }
}