.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    p {
        text-transform: uppercase;
        color: rgb(149,149,149);
        padding-bottom: 10px;
    }

    div {
        display: flex;
        width: 60%;
        justify-content: space-evenly;

        a {
            width: 90px;
        }
    }
}