ul {
    list-style-type: none;
    color: $secondary;
    text-transform: uppercase;
    display: flex;
    background: $backgroundAccent;
    padding: 10px;
    border-radius: 20px;
    font-family: SfLight;
    font-size: 0.8rem;
    opacity: 50%;

    li {
        border-right: 1px solid $secondary;
        padding: 0 10px;

        &:last-child {
            border-right: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
