ul {
    list-style-type: none;
    color: $secondary;
    text-transform: uppercase;
    display: flex;
    background: $backgroundAccent;
    padding: 1rem;
    border-radius: 2rem;
    font-family: SfLight;
    font-size: 0.8rem;
    opacity: 50%;
    padding-bottom: 5rem;

    li {
        border-right: 0.1rem solid $secondary;
        padding: 0 1rem;

        &:last-child {
            border-right: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
