main {
    background: $mainBackground;
    border-radius: 10px;
    padding: 2rem;
    width: 30rem;
    margin: 4rem 0;

    .line {
        border-bottom: 0.1rem solid $secondary;
        width: 50%;
        margin: 0 auto;
        margin-top: 1rem;
        opacity: 40%;
    }

    .progressBar {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }

    .mainHeader {
        text-align: center;
        font-family: Morgan;

        h2 {
            text-transform: uppercase;
            color: $primary;
            font-size: 2rem;
        }

        h3 {
            text-transform: uppercase;
            color: $third;
            font-size: 1.15rem;
            padding-top: 0.4rem;
        }

        p {
            color: $primary;
            padding-top: 1rem;
            font-family: SfLight;
            font-size: 0.8rem;
            opacity: 60%;
        }
    }
    
    .playerCards {
        display: flex;
        justify-content: center;
        position: relative;
        min-height: 10rem;
        width: 100%;
    }
}