main {
    background: $mainBackground;
    border-radius: 10px;
    padding: 20px;
    width: 440px;
    margin: 40px 0;

    .line {
        border-bottom: 1px solid $secondary;
        width: 50%;
        margin: 0 auto;
        opacity: 40%;
    }

    .progressBar {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .mainHeader {
        text-align: center;
        font-family: Morgan;

        h2 {
            text-transform: uppercase;
            color: $primary;
            font-size: 2rem;
        }

        h3 {
            text-transform: uppercase;
            color: $third;
            font-size: 1.15rem;
            padding-top: 4px;
        }

        p {
            color: $primary;
            padding-top: 10px;
            font-family: SfLight;
            font-size: 0.8rem;
            opacity: 60%;
        }
    }
    
    .playerCards {
        display: flex;
        justify-content: center;
        position: relative;
    }
}