$primary: darkslategray;
$secondary: lightgray;

@font-face {
    font-family: Morgan;
    src: url("../fonts/MorganPosterAvec Bold.otf");
}

@font-face {
    font-family: SfLight;
    src: url("../fonts/SF Pro Display Light.ttf")
}

@font-face {
    font-family: SfBold;
    src: url("../fonts/SF Pro Display Bold.ttf")
}