$primary: darkslategray;
$secondary: lightgray;
$third: rgb(149,149,149);
$background: rgb(13,33,71);
$backgroundAccent: rgb(12,32,68);
$mainBackground: rgb(248,248,248);

@font-face {
    font-family: Morgan;
    src: url("../fonts/MorganPosterAvec Bold.otf");
}

@font-face {
    font-family: SfLight;
    src: url("../fonts/SF Pro Display Light.ttf")
}

@font-face {
    font-family: SfBold;
    src: url("../fonts/SF Pro Display Bold.ttf")
}