@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: Morgan;
  src: url("../fonts/MorganPosterAvec Bold.otf");
}

@font-face {
  font-family: SfLight;
  src: url("../fonts/SF Pro Display Light.ttf");
}

@font-face {
  font-family: SfBold;
  src: url("../fonts/SF Pro Display Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #0d2147;
  font-size: 62.5%;
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 1280px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul {
  list-style-type: none;
  color: lightgray;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0c2044;
  padding: 1rem;
  border-radius: 2rem;
  font-family: SfLight;
  font-size: 0.8rem;
  opacity: 50%;
  padding-bottom: 5rem;
}

ul li {
  border-right: 0.1rem solid lightgray;
  padding: 0 1rem;
}

ul li:last-child {
  border-right: none;
}

ul li:hover {
  cursor: pointer;
}

main {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 2rem;
  width: 30rem;
  margin: 4rem 0;
}

main .line {
  border-bottom: 0.1rem solid lightgray;
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  opacity: 40%;
}

main .progressBar {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

main .mainHeader {
  text-align: center;
  font-family: Morgan;
}

main .mainHeader h2 {
  text-transform: uppercase;
  color: darkslategray;
  font-size: 2rem;
}

main .mainHeader h3 {
  text-transform: uppercase;
  color: #959595;
  font-size: 1.15rem;
  padding-top: 0.4rem;
}

main .mainHeader p {
  color: darkslategray;
  padding-top: 1rem;
  font-family: SfLight;
  font-size: 0.8rem;
  opacity: 60%;
}

main .playerCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 10rem;
  width: 100%;
}

.playerCard {
  margin-left: -0.3rem;
  margin-top: 2rem;
  min-height: 8rem;
  -webkit-animation: fadein 0.5s ease-in;
          animation: fadein 0.5s ease-in;
}

.playerCard figure {
  padding-bottom: 0.5rem;
}

.playerCard .playerIcon {
  background: lightgray;
  border-radius: 50%;
  border: 0.2rem solid white;
  width: 3rem;
}

.playerCard .playerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: darkslategray;
  text-transform: uppercase;
  font-family: Sflight;
}

.playerCard .playerInfo .points {
  -webkit-box-shadow: 0 0 0.1rem darkslategray;
          box-shadow: 0 0 0.1rem darkslategray;
  padding: 0.4rem;
  border-radius: 50%;
  color: darkslategray;
  background: white;
  font-family: Morgan;
  font-size: 0.8rem;
}

.pointBackdrop {
  background: lightgray;
  padding: 0.1rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px darkslategray;
          box-shadow: 0px 0px 0px darkslategray;
  margin: 0.6rem 0;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.buttons div {
  display: inline-block;
}

.buttons div:first-of-type {
  margin-right: 2rem;
}

.buttons div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid lightgray;
  border-radius: 5rem;
  text-decoration: none;
  color: darkslategray;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
  font-family: SfBold;
  font-size: 0.8rem;
}

.buttons div a figure {
  width: 2rem;
  height: 2rem;
  padding-right: 1.2rem;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.download p {
  text-transform: uppercase;
  font-family: SfBold;
  color: darkslategray;
  padding-bottom: 1rem;
  font-size: 0.8rem;
}

.download div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.download div a {
  width: 7rem;
}
/*# sourceMappingURL=styles.css.map */