// GLOBAL
* {
    margin: 0;
    padding: 0;
    font-family: Times;
}

body {
    background: black;
}

img {
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 77%;
    height: 100vh;
    background: rgb(13,33,71);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

// MAIN

main {
    background: rgb(248,248,248);
    border-radius: 10px;
    padding: 20px;
}
// rgb(70,70,70) h2
// rgb(157,157,157) h3
// rgb(240,240,240) image background 

hr {
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
}

.playerIcon {
    background: rgb(240,240,240);
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    
}

// FOOTER
ul {
    list-style-type: none;
    color: grey;
    text-transform: uppercase;
    display: flex;
    background: rgb(12,32,68);
    padding: 10px;
    border-radius: 20px;

    li {
        border-right: 1px solid grey;
        padding: 0 10px;

        &:last-child {
            border-right: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
